#container {
  border: 1px solid black;
  min-height: 100vh;
  display: flex;
  justify-content: space-evenly;
}

#container div {
  background-color: red;
  border: 1px solid black;
  flex: 1;
  display: flex;
  flex-direction: column;
}